<div class="flex align-items-center justify-content-center lg:px-8 md:px-6 px-4 py-8 surface-ground">
    <div class="p-6 shadow-2 lg:w-4 surface-card">
        <div class="text-center">
            <div class="font-bold text-5xl text-yellow-500">Şifre Değiştir</div>
        </div>
        <div>
            <span class="p-float-label mt-5">
                <p-password id="oldPassword" [toggleMask]="true" [feedback]="false" [style]="{'width':'100%'}"
                    [inputStyle]="{'width':'100%'}" required></p-password>
                <label for="oldPassword">Eski Şifre</label>
            </span>
            <span class="p-float-label mt-5">
                <p-password id="newPassword" [toggleMask]="true" [style]="{'width':'100%'}"
                    [inputStyle]="{'width':'100%'}" required></p-password>
                <label for="newPassword">Yeni Şifre</label>
            </span>
            <span class="p-float-label mt-5">
                <p-password id="newPasswordAgain" [toggleMask]="true" [feedback]="false" [style]="{'width':'100%'}"
                    [inputStyle]="{'width':'100%'}" required></p-password>
                <label for="newPasswordAgain">Yeni Şifre Tekrar</label>
            </span>
            <button pButton icon="pi pi-undo" label="Şifreyi Değiştir" class="w-full mt-4 mb-4"
                (click)="changePassword()"></button>
            <a routerLink="/main" class="no-underline text-blue-500 cursor-pointer block text-right">Ana sayfaya
                dön!</a>
        </div>
    </div>
</div>